requirements :                  #Day 2 Training @Interglad solution pvt ltd. 
1>    pip install python 3.12.9
2>    pip install numpy         #for ND array configurations
3>    Classes and objects  
4>    Models Concept